


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<style>
    .text-white{
    color:white
    }
</style>

<body style="background-color: black">
    <!-- Navigation bar -->
    <nav class="navbar" style="background-color: #00a65a">
        <a class="navbar-brand">My Book Recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Body for displaying recommended books -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size: 50px">Recommend Books</h1>
                <form action="/recommend_books" method="post">
                    <input type="text" name="user_input" class="form-control form-control-lg" placeholder="Enter book name"><br>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
            </div>

            <!-- Display error message if book not found -->
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <!-- Loop through recommended books if data is available -->
            {% if data %}
                {% for i in data %}
                    <div class="col-3" style="margin-top: 50px">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ i[2] }}">
                                <p class="text-white">{{ i[1] }}</p>
                                <h5 class="text-white">{{ i[0] }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

</body>

</html>